@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
:focus {
  outline: 2px solid #001eff;
  outline-offset: 8px;
} */

.figcaption-css::before {
  position: absolute;
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  background: #ebedff;
  top: -3px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
}

.group .figcaption-css::before {
  opacity: 1;
}

.max-w-calc {
  max-width: calc(37% - 14px);
}

@keyframes fillBackground {
  0% {
    background-color: transparent;
    width: 0;
  }
  100% {
    background-color: rgb(235, 237, 255, 0.9);
    width: 100%;
  }
}

.download-button {
  position: relative;
  overflow: hidden;
  color: #ebedff; /* Couleur initiale du texte */
  transition: color 0.3s ease; /* Ajouter une transition douce pour le texte */
}

.download-button:hover {
  color: #0d0e12; /* Changer la couleur du texte au survol */
}

.download-button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(235, 237, 255, 0.9);
  animation: fillBackground 0.3s forwards;
  z-index: -1;
}

.download-button::before {
  width: 0;
  transition: none;
}

.slide-in {
  transform: translateX(100%);
  animation: slideInFromRight 0.5s ease-out forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
