@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
:focus {
  outline: 2px solid #001eff;
  outline-offset: 8px;
} */

.figcaption-css::before {
  position: absolute;
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  background: #ebedff;
  top: -3px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
}

.group .figcaption-css::before {
  opacity: 1;
}

.max-w-calc {
  max-width: calc(37% - 14px);
}

@keyframes fillBackground {
  0% {
    background-color: transparent;
    color: #0d0e12;
    width: 0;
  }
  100% {
    background-color: #8400ff;
    color: #0d0e12;
    width: 100%;
  }
}
.download-button {
  position: relative;
  overflow: hidden;
  color: #ebedffe6; /* Couleur du texte (au besoin) */
  transition: color 0.3s ease;
}

.download-icon {
  color: #8400ff; /* Couleur violette par défaut */
  transition: color 0.3s ease;
}

/* Changer la couleur de l'icône au survol du bouton */
.download-button:hover .download-icon {
  color: #0d0e12; /* Couleur noire au survol */
}

.download-button:hover {
  color: #0d0e12; /* Couleur du texte du bouton au survol */
}

.download-button:hover::before,
.download-icon:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8400ff; /* Couleur violette de fond */
  color: #0d0e12; /* Couleur du texte sur le survol (en noir) */
  animation: fillBackground 0.3s forwards;
  z-index: -1;
}

.download-button::before,
.download-icon::before {
  width: 0;
  transition: none;
}

@keyframes fillBackground {
  0% {
    background-color: transparent;
    color: #0d0e12;
    width: 0;
  }
  100% {
    background-color: #8400ff;
    color: #0d0e12;
    width: 100%;
  }
}
