@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @font-face {
  font-family: "Megatrans";
  src: url("/fonts/megatrans/Megatrans-Regular-BF64e042c317003.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
} */

body {
  background-color: #1a2d35;
  /* background-color: #fafafa; */
  /* background-image: url("/background.png");
  background-size: cover;
  background-repeat: no-repeat; */
  color: #fafafa;
  /* font-family: "Megatrans"; */
}

/*
main {
  background: radial-gradient(
      91.96% 141.6% at -22.42% 69.4%,
      rgba(127, 0, 255, 0.46) 0,
      transparent 100%
    ),
    radial-gradient(
      84.26% 129.74% at 50% 125.36%,
      rgba(255, 0, 230, 0.46) 0,
      transparent 100%
    ),
    radial-gradient(
      58.7% 90.38% at 113.99% 96.18%,
      rgba(255, 0, 107, 0.43) 0,
      transparent 100%
    ),
    radial-gradient(
      56.68% 87.27% at 27.94% 112.07%,
      rgba(0, 255, 224, 0.43) 0,
      transparent 100%
    );
  height: 100vh;
} */
